<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link href="https://assignment3-vk-img.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css" rel="stylesheet">
    <title>Assignment - 3</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <br><br><br><br>
    <h1>
        <center>Valorant Agents</center>
    </h1>
    <br><br><br><br>
    <center>
    <img src="https://assignment3-vk-img.s3.jp-tok.cloud-object-storage.appdomain.cloud/Jett.png" >&nbsp;
    <img src="https://assignment3-vk-img.s3.jp-tok.cloud-object-storage.appdomain.cloud/Phonix.png" >&nbsp;
    <img src="https://assignment3-vk-img.s3.jp-tok.cloud-object-storage.appdomain.cloud/Reyna.png" >&nbsp;
    <img src="https://assignment3-vk-img.s3.jp-tok.cloud-object-storage.appdomain.cloud/Sage.png" >&nbsp;
    <img src="https://assignment3-vk-img.s3.jp-tok.cloud-object-storage.appdomain.cloud/Yoru.jpg" >&nbsp; 
    </center>
    {% endblock %}
</body>
</html>