<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://3assignment.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css" rel="stylesheet">
    <title>Assignment - 3</title>
</head>
<body>

    <br><br><br><br>
    <h1>
        <center>Cruiser bike</center>
    </h1>
    <br><br><br><br>
    <center>
    <img src="https://3assignment.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%20(1).jpg" >&nbsp;
    <img src="https://3assignment.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%20(2).jpg" >&nbsp;
    <img src="https://3assignment.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%20(3).jpg" >&nbsp;
    <img src="https://3assignment.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%20(4).jpg" >&nbsp;
    <img src="https://3assignment.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%20(5).jpg" >&nbsp; 
    </center>

</body>
</html>